@tailwind base;
@tailwind components;
@tailwind utilities;

.hover-links {
  @apply border-b border-b-dark-200/30 no-underline transition-all duration-150 hover:border-b-dark-200/60 dark:border-b-light-900/50 dark:hover:border-b-light-900/80;
}

.nav-links {
  @apply cursor-pointer rounded border-none p-2 transition-all duration-150 hover:bg-light-200 hover:opacity-80 dark:hover:bg-dark-700;
}

.heading-text {
  @apply text-dark-900 dark:text-light-900;
}

.primary-text {
  @apply text-dark-900/80 dark:text-light-900/80;
}

.secondary-text {
  @apply text-dark-900/60 dark:text-light-900/60;
}

.tertiary-text {
  @apply text-dark-900/40 dark:text-light-900/40;
}

.post-section {
  @apply overflow-hidden md:rounded border-t border-b md:border border-gray-400/30 bg-white dark:bg-dark-700;
}

.notion-page-renderer .notion {
  --notion-font: ui-sans-serif, system-ui, apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, 'Apple Color Emoji', Arial, sans-serif, 'Segoe UI Emoji', 'Segoe UI Symbol';

  @apply w-full max-w-full;
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1.75;
}

.notion-page-renderer .notion h1,
.notion-page-renderer .notion h2,
.notion-page-renderer .notion h3,
.notion-page-renderer .notion h4,
.notion-page-renderer .notion h5,
.notion-page-renderer .notion h6 {
  @apply font-title;
}

.notion-page-renderer .notion .notion-external-block,
.notion-page-renderer .notion .notion-bookmark {
  @apply my-2 lg:my-3;
}

.notion-page-renderer .notion > :nth-child(3) {
  margin-top: 0;
}

.notion-page-renderer .notion-collection-page-properties {
  @apply hidden;
}

.notion-page-renderer .notion-external-image > * {
  @apply w-full h-full;
}

.code-block {
  @apply relative w-full my-2;
}

.code-block pre,
.code-block code {
  @apply font-mono;
}

.code-block > .notion-code {
  @apply static p-4 lg:p-6 my-0;
}

.post-cover-image {
  @apply relative;

  padding-bottom: 56%;
  min-height: 120px;
}

.post-cover-image > div {
  @apply absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: cover;
  background-position: center;
}

button {
  @apply focus:outline-none focus-visible:outline-none !important;
}

* {
  @apply box-border;
}

*::selection {
  @apply bg-sky-300/20 dark:bg-sky-400/30;
}

body {
  background-color: #FDFDFD;
  background-image:  radial-gradient(#CBCEFA 0.85px, transparent 0.85px), radial-gradient(#CBCEFA 0.85px, #FDFDFD 0.85px);
  background-size: 34px 34px;
  background-position: 0 0,17px 17px;
}

.dark body {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #111 600px),
  fixed 0 0 / 30px 30px radial-gradient(#313131 1px, transparent 0),
  fixed 15px 15px / 30px 30px radial-gradient(#313131 1px, transparent 0);
}
